:root {
  --gray: #404040;
  --mid-gray: #8c8c8c;
  --light-gray: #b9b9b9;
  --icon-red: #ff1510;
  --footer-red: #ff1510;
  --border-red: #ff1510;
  --font-red: #fa7c7c;  
  --search-red: #fdecec;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
